<div class="user-container">
  <h2 style="margin: auto; text-align: center;"> Usuarios</h2>
  <br>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>E-Mail</th>
        <th>Direccion</th>
        <th>Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="block">{{user.userId}}</td>
        <td class="block">{{user.userName}}</td>
        <td class="block">{{user.userEmail}}</td>
        <td class="block">{{user.userAddress}}</td>
        <td class="block">{{user.userPhone}}</td>
      </tr>
    </tbody>
    <br>
    <button (click)="addUser()">Registrar</button>
  </table>
</div>